/* färgar  för alla divar med text*/
.grid-wrapper div{
    background:#cecece;
    padding: 1rem;
}
/* färgar för udda divar med text */
.grid-wrapper div:nth-child(odd){
    background: #eee;
}

.grid-wrapper{
    display: grid;
    /* grid-template-columns: 40rem 10rem; */
    /* grid-template-columns: 7fr 3fr; */

    /* 5 kolumner med flexible bredd */
    grid-template-columns: repeat(5,1fr);
    /* mellanrum mellan kolumnerna och rader, så att det ser ut som rutor */
    gap:1rem;

    /* det är att kunna bestämma min max storlek på rader och sedan auto om det är mer än så? */
    grid-auto-rows: minmax(150px,auto);
    
}