#ignorera en fil
file_ignorera.txt
log.txt
#ignorera en mapp
mapp_ignorera/

#ignorera alla filer med extention
*.tmp
# ignorera mapparna med  node moduler
node_modules/
#mappar från Pluralsight kurser
ngs/
#mappar med Lektioner
Lektioner/
#filer med konfiguration
.env