@import "../default.css";


/* de här två sectionerna är lika bredda */
#primary-section,
#secondary-section{
    flex: 1;
}

#primary-section{
    /* den här section plaseras efter primary */
    order: 2;
}

#secondary-section{
    /* den här section plaseras först */
    order: 1;
    /* boxar plaseras i kolumnen en under annan i de ordning som i dokumnet*/
    flex-direction: column;
}
/* alla boxar är lika bredda */
.box{
    flex: 1;

}

#primary-section .box:nth-child(1) {background-color: #8ab3c2;color: #f5fcff;}
#secondary-section .box:nth-child(1) {background-color: #b5d5e2;}
#secondary-section .box:nth-child(2) {background-color: #9ec8d8;}
