* {
    margin: 0;
    padding:0;
    box-sizing: border-box;

}
:root {
    --my-color-nav-text:#F7F7F6;    
    --my-color-nav-backgrund:#456d23;

    --my-color-nav-border:#456d23;
    --my-color-nav-item:#77BB3F;
    --my-color-nav-item-active: #666462;
    --my-color-nav-item-hover:#304d1a;

  
   
    --my-color-body:#F7F7F6;
    --my-color-body-text:#351604;

    --my-fontsize-icon:1.8rem;

    --my-hight-nav:44px; /* 1+.7+.7=2.4 */   

}
body {
    background-color: var(--my-color-body);  
    color:var(--my-color-body-text); 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display:grid;
    
    /* Mobile first nav ovanför header ----------------------------------- */
    grid-template-rows: auto ;
    grid-template-areas: 
        "pageNavigation"
        "pageHeader"
        "pageContent"
        "pageFooter";

}

/* inte visa icon eller meny */
.hide {
    display:none;
}


/* Mobile first ------------------------------------------------------------- */
.header{
    grid-area: pageHeader;
    width:100%;
    height: var(--my-hight-nav);
    color: var(--my-color-nav-backgrund);
    text-align: center;
   
}

/* Plats för content , hela bredden för mobile */
.container{
    grid-area: pageContent;
    width: 100%;
    margin:auto;
       
}

/* Navigering */
.top-nav {
    grid-area:pageNavigation;
    background-color: var(--my-color-nav-backgrund);
    position: relative; 
    width: 100%; 

}
.top-nav #logo{
    
    /* anpassa senare bilden , breddare och med text */
    background-image: url(../img/Logo_transp_little.png);
    background-color: var(--my-color-nav-backgrund);
    background-repeat: no-repeat;
    width: 72px;
    /* samma höjd på knappar  */
    height: var(--my-hight-nav); 
    background-size: 86%;
    background-position: center center;
    border:none;
    outline: none;
    margin: 0;
}

/* knapp hamurger  och knapp kryss  */
.top-nav .icon{
    
    background-color: var(--my-color-nav-backgrund);
    color: var(--my-color-nav-text);
    font-size: var(--my-fontsize-icon); 
   /* samma höjd på knappar , kvadrat knapp */
    width:var(--my-hight-nav) ;
    height: var(--my-hight-nav);
    border:none;
    outline: none;
    margin: 0;

    /* placera i höger övre hörnet av naven*/
    position: absolute;
    top:0;
    right:0;
    
}

/*menyer */
.top-menu, .sub-menu {
    /* ta bort punkter */
    list-style-type: none;
}
/* grundformattering element i meny */
.top-menu li a {
    /* klickbara hela sträckan av skärmet*/
    display:block;
    background-color: var(--my-color-nav-item);
    color: var(--my-color-nav-text);
    border-bottom:solid 1px  var(--my-color-nav-border);
    /* ta bort underlinje från länkar */
    text-decoration:none ;
    padding: 0.7rem ;
    padding-left:2%;  
 
     
}
.top-menu>li>a{
    /* top meny med stota bokstäver */
    text-transform: uppercase;
}

.sub-menu li a{
    /* sub menyer items lite mer åt vänster */
    padding-left: 5%;
}

/*  markera med färg aktiv element i meny  */
.top-menu .active-item>a {
    background-color: var(--my-color-nav-item-active);
}
/* markera med färg element hover i meny */
.top-menu a:hover{
    background-color: var(--my-color-nav-item-hover);
    
}    

/* Skärmet >= 768 medium Obs! 540 small*/
@media(min-width:768px){
    body{
        /* nav under header */
        grid-template-areas: 
        "pageHeader"
        "pageNavigation"
        "pageContent"
        "pageFooter";
    }
    /* mindre bredd för större skärm */
    .container{
        width: 80%;
        
    }
    .top-nav { 
        position:sticky; 
        top:0;
        background-color: var(--my-color-nav-item);  
        /* overflow: hidden;   */
       
    }
    /* gömma hamburger icon*/
    .top-nav .icon{
        display: none;
    }
    

    #logo{
        float:left;
       
    }
    /* visa top menu - ignorera hide*/
    .top-menu {
        display: block;     
    }

   .top-menu li {
    float: left;
   }
    .top-menu li a {
        
        border:none;
        border-right:1px solid var(--my-color-nav-border);
        padding:0.7rem 0.9rem;
        width: 130px;
        /* göra mjukare övergångar mellan ändring av färger */
        transition:background 0.3s linear;
        
                    
    }   
    .sub-menu {
        /* flytta från skärmet */
        left:-999em;
        z-index:99;
        position: absolute;

    }
    .sub-menu li {
        /* fixa att de placeras vertikalt */
        float:none;
        
    }
    .sub-menu li a{
        border :none;
        border-top: 1px solid var(--my-color-nav-border);
    }
    .top-menu li:hover .sub-menu{
        /* visa på deras vanlig position */
        left:auto;
    }

    .clearfix::after{
        content:"";
        display: table;
        clear: both;
    }
}
