/* Style för alla element i dokumentet  (* betyder select all)*/
*{
    margin: 0;
    padding: 0;
    /* inkludera content, padding och border i höjd och bredd egenskaper av element */
    box-sizing:border-box;
}
/* för alla element som finns i body */
body {
    /* välja web safe font utan sherifer */
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* linje höjd relativt to aktuell font storlek */
    line-height:1.6;
    /* bakgrund color som är inte helt vit, snällare mot ögon*/
    background-color: #eeeeee;
    /* bokstäver */
    color: #111;
}
/* för alla element som finns i div med class "container" */
.container {
    /* bredd av area med kontent relativt hela bredden */
    width:40%;
    /* marging för alla sidor  */
    margin: auto;

}
.card-1{
    /* rem storlek proportion realaterad till root element i detta fall body, för att div conteiner inte har font settings*/
    /* em storleks proportion relaterad till nuvarande storlek av t ex font ...*/
    /* lärare använder oftast rem */
    font-size: 1.5rem;
    background-color: #222;
    color: #eee;
    width:300px;
    padding: 20px;
    margin:20px;
    border:5px solid blue;
    font-family: 'Courier New', Courier, monospace;
}
.card-1 h2 {
    
    font-size: 2rem;
    background-color: darkslateblue;
    /* padding upp och ner och i sidled. Det går dela upp separat för uppe nere, höger och vänster */
    padding: 0.5rem 2rem;
}
.card-1 p {
   
    font-size: 1rem;
}
.card-2{
    border: 1px solid #333;
    margin:2rem 0;
    /* Olika sätt att ange padding */
    /* i en rad :*/
    /* padding:2rem 5rem 0rem 10rem; */
    /* separat för varje sidan: */
    /* padding-top: 2rem;
    padding-right: 5rem;
    padding-left: 10rem;
    padding-bottom: 0rem; */
    
    padding: 2rem;
    /* rundnig. Det går att ange för varje hörn för sig */
    border-radius: 15px;
}
.card-3{
    /* border dashed */
    border: 2px dashed #169978;
    padding:3rem;
}
.card-3 ul {
    /* styling for list */
    list-style: none;
}
.card-3 a{
    /* ta bort underlinje för hyperlänkar i listen */
    text-decoration: none;
    color:#222;

}
/* ändra färg när mussen över */
.card-3 a:hover{
    color:#169978;
}
/* styla list elementer , här grå färg för första elementen */
/* even or odd för att styla varannan element */
.card-3 li:nth-child(1){
    background-color: #bbb;
}
.links{
    margin: 2rem;
}
/*  */
.link{
    border: 1px solid gray;
    width: 300px;
    height:50px;
    margin-top:1rem;
    /* igöra möjligt att styla inline element som block element, så att länkar blir inne i boxen med agivna höjd and bredd */
    display:inline-block;

}
.Joki-knapp{
    padding: 0.7rem 1.5rem;
    background-color: #222;
    color:#fff;
    border:none;
    border-radius:5px;
    /* cursor ser ut som hand. Det finns massor me andra varianter  */
    cursor:pointer;
    /* linje runt element utanför bordre */
    outline:5px dashed blue;
    /* övergång mellan ändringar i färgar n'r man trycker på knapp*/
    transition: all 0.2 ease-in-out; 

}
/* vid mussen ovanför knappen */
.Joki-knapp:hover{
    background-color: #3f3f3f;
    color: aqua;
}
/* Vid Klick */
.Joki-knapp:active{
    background-color: aqua;
    color: #3f3f3f;
}