* {
    margin: 0;
    padding:0;
    box-sizing: border-box;

}
:root {
    --my-color-nav-text:#F7F7F6;    
    --my-color-nav-backgrund:#456d23;

    --my-color-nav-border:#456d23;
    --my-color-nav-item:#77BB3F;
    --my-color-nav-item-active: #666462;
    --my-color-nav-item-hover:#304d1a;

  
   
    --my-color-body:#F7F7F6;
    --my-color-body-text:#351604;

    --my-fontsize-icon:1.8rem;

    --my-hight-nav:44px; /* 1+.7+.7=2.4 */   

}
body {
    background-color: var(--my-color-body);  
    color:var(--my-color-body-text); 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-areas:  
    "hamburger"
    "logo"
    "content"
    "footer"
    "links";
    
}

/* Gemensamma formateringar------------------------------------------- */
.header{
    grid-area: logo;
    width:100%;
    height: var(--my-hight-nav);
    color: var(--my-color-nav-backgrund);
    text-align: center;
   
}

/* Hamburger knappar */
.icon{
    background-color: var(--my-color-nav-backgrund);
}
.iconOpen,
.iconClose{
    display: block;
    width: 7rem;
    height: 2.75rem;
    background-repeat: no-repeat;
    background-position:2vw center;
    
}

.iconOpen{
    background-image: url(../img/menuOpenWhite.png);

}
.iconClose{
    
    background-image: url(../img/menuCloseWhite.png);

 }
 #open-nav{
     grid-area: hamburger;
 }


/* Plats för content , hela bredden för mobile */
.container{
    grid-area: content;
      
       
}

/* Navigering */
.top-nav {
    grid-area:links;
    background-color: var(--my-color-nav-backgrund);
    width: 100%; 
    height: 100vh;

}


/*menyer -------------------------------------------------------*/

.top-menu {
    /* ta bort punkter */
    list-style-type: none;
}

/*  markera med färg aktiv element i meny  */
.top-menu .active-item>a {
    
    background-color: rgba(255,255,255,0.4);
}

/* grundformattering element i meny */
.top-menu li a {
    /* klickbara hela sträckan av skärmet*/
    display:block;
    /* bredden begränsas av top-meny */
    width: 100%;
    padding: 0.7rem ;
    padding-left:2%;  
    background-color: var(--my-color-nav-item);
    color: var(--my-color-nav-text);
    text-decoration:none ;
    border-bottom:solid 1px  var(--my-color-nav-border);
    
      
}
.top-menu li:first-child a {
    border-top:solid 1px var(--my-color-nav-border);
}

.top-menu a:hover{
    background-color: rgba(0,0,0,0.2);
    height: var(--my-hight-nav);
    
}  
.top-menu>li>a{
    /* top meny med stota bokstäver */
    text-transform: uppercase;
}

footer{
    grid-area: footer;
    background-color: rgba(0,0,0,0.1);
    
}
  
/* Skärmet >= 768 medium Obs! 540 small*/
@media(min-width:768px){

    body{
        grid-template-areas: 
        "logo logo"
        "links content"
        "footer footer";
        /* ha samma bred att kolumn med menu inte fortsätter bredda sig på större skärmar  */
        grid-template-columns: 9rem auto;
    }
   
    .header
    {
        border-bottom:solid 1px var(--my-color-nav-border);
    }
    /* gömma hamburger icon*/
    .icon{
        display: none;
    }
 
    .top-menu li a {
        padding:0.7rem 0.9rem;
        transition:background 0.3s linear;
        text-align: right;
       
                    
    }   
    .top-menu li:first-child a {
        border-top:none;
    }
    .container{
        width: 80%;
        margin-left: auto;
        margin-right:auto ;

    }
    .top-nav{
        /* att naven inte slutas eller stycker ut pga den har fast höjd i mobilen */
        height: auto;
    }

    
  
  
}
@media(min-width:992px){

    body{
        grid-template-areas: 
        "logo"
        "links"
        "content"
        "footer";
        /* tillbaka till auto eftersom navigeringen flyttas till att vara horisontell */
        grid-template-columns: auto;


    }
    .top-menu{
        /* att göra menu horusontell */
        display: flex;
        flex-direction:row;
        /* om vi vill menu till höger  */
        /* float: right; */
        /* om vi vill menu mitt i */
        /* justify-content: center; */
        margin: 0 5%;
        
    }
    .top-menu li a {
        border:none;
        border-right:solid 1px rgba(0,0,0,0.3);
    }
    .top-menu li:first-child a {
        border-left:solid 1px rgba(0,0,0,0.3);
    }

    .header {
        border: none;
    }
    



}